{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5 text-primary font-weight-bold">Frequently Asked Questions</h1>

        <div class="row">
            {% for faq in faqs %}
            <div class="col-md-12 mb-4">
                <div class="card border-0 shadow-lg rounded-lg overflow-hidden">
                    <div class="card-body bg-light p-4">
                        <h5 class="card-title text-dark font-weight-bold">{{ faq.question }}</h5>
                        <p class="card-text text-muted mt-3">{{ faq.answer }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
